body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

/* COVER */

#cover {
    background-image: url('backgorund2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 1em;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#cover h2 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    margin: 5px 0;
}

p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 3;
}

#openInvitation {
    margin-top: 30px;
    padding: 10px 10px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#openInvitation i {
    font-size: 20px;
}

.transparentButton {
    padding: 10px 20px; /* Mengatur padding untuk tombol */
    font-size: 16px; /* Mengatur ukuran font */
    cursor: pointer; /* Mengubah kursor saat hover */
    border: 2px solid #333; /* Mengatur border tombol */
    background: transparent; /* Mengatur latar belakang tombol menjadi transparan */
    color: #333; /* Mengatur warna teks tombol */
    border-radius: 5px; /* Mengatur sudut tombol */
    transition: background-color 0.3s, color 0.3s; /* Menambahkan efek transisi */
}

.transparentButton:hover {
    background-color: #333; /* Mengatur latar belakang saat hover */
    color: #fff; /* Mengatur warna teks saat hover */
}


/* NAVIGASI */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #122620;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px; /* Jarak antar ikon */
    justify-content: center;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px; /* Ukuran ikon */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f2f2f2; /* Warna teks saat hover */
}


/* SECTION */

section {
    overflow-x: hidden;
}

section h2 {
    margin-top: 0;
    font-size: 2em;
    text-align: center;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

/* SECTION 1 HOME*/

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; /* Mengatur tinggi section agar memenuhi viewport */
    padding: 20px;
    text-align: center;
    background-color: #122620;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#section1 h1 {
    margin-bottom: 30px;
}

#section1 h2 {
    font-size: 3em;
    line-height: 1;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

#section1 h3 {
    font-family: "Playwrite SK", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6em;
}

#section1 p {
    font-family: "Playwrite SK", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.invited {
    font-size: 0.7em;
}

.info {
    flex: 1; /* Membiarkan konten info mengisi ruang yang tersisa */
}

.photo-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.photo {
    width: 230px; /* Atur ukuran foto sesuai kebutuhan */
    height: auto;
    border-top-right-radius: 80px; /* Radius hanya di pojok kanan atas */
    border-bottom-left-radius: 80px; /* Radius hanya di pojok kiri bawah */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#countdown {
    font-size: 0.8em;
}

.countdown-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Jarak antar item countdown */
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-item div {
    padding: 2px;
}

.countdown-item #days,
.countdown-item #hours,
.countdown-item #minutes,
.countdown-item #seconds {
    font-size: 2em; /* Ukuran angka */
}

.countdown-item .label {
    font-size: 0.8em; /* Ukuran keterangan */
    color: white;
}

/* SECTION 2 PROFILE*/

#section2 {
    padding: 40px 20px;
    text-align: center;
    background-color: #f7f7f7;
    height: auto;
    color: black;
}

#section2 h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.role {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Playwrite SK", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Menyelaraskan teks ke kiri */
}

.info2 {
    text-align: right;
}

.initial-circle {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9em;
    font-weight: bold;
    margin-bottom: 10px; /* Beri jarak antara inisial dan nama */
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.parents {
    font-size: 1em;
    line-height: 1.4;
}

.separator {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0;
}

.separator::before, 
.separator::after {
    content: '';
    background-color: black;
}

.separator span {
    margin: 0 10px;
    font-size: 1.2em;
    color: black;
}

/* Vertikal untuk layar besar (desktop) */
@media (min-width: 768px) {
 
    /* SECTION 2 */
    .separator {
        flex-direction: column;
        height: 100px; /* Atur tinggi sesuai kebutuhan */
    }

    .separator::before, 
    .separator::after {
        width: 1px; /* Membuat garis vertikal */
        flex-grow: 1;
        height: auto;
    }

    .separator span {
        margin: 10px 0; /* Jarak antara teks dan garis */
    }

}

/* SECTION 3 AYAT AL-QUR'AN*/
#section3 {
    padding: 40px 20px;
    text-align: center;
    background-color: #122620;
    color: white;
    height: auto;
}

#section3 h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.verse-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.verse {
    font-size: 1.5em;
    margin-bottom: 20px;
    direction: rtl; /* Mengatur teks Arab agar tampil dari kanan ke kiri */
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 3;
}

.translation {
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.5;
}

.namasurah {
    margin-top: 20px;
}

/* SECTION 4 ACARA*/
#section4 {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    height: auto;
    background-image: url('backgorund2.png');
    background-size: cover;
}

#section4 h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

.event-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 0;
}

.event {
    /* flex: 1; */
    display: flex;
    align-items: stretch;
    gap: 0;
}

.event-type {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 3em;
    font-style: normal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    background-color: #122620;
    border-radius: 100px 0 0 0; /* Hanya sudut kiri atas */
}

.event-type p {
    font-family: "Playwrite SK", cursive;
    font-optical-sizing: auto;
    padding: 5px;
}

.type2 {
    border-radius: 0 100px 0 0; /* Hanya sudut kiri atas */
}

.event-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    background-color: #f9f9f9;
    flex-grow: 1;
    color: black;
    padding-bottom: 20px;
}

.event-details img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.details {
    text-align: left;
    line-height: 1;
    padding-top: 20px;
}

.date-section {
    display: flex;
    align-items: center;
}

.date {
    font-size: 3rem;
    font-weight: bold;
}

.month-year {
    margin-left: 20px;
    font-size: 1rem;
    line-height: 1.3;
}

.month {
    font-weight: bold;
}

.time {
    margin-bottom: 10px;
}

.time-location-section {
    margin-top: 20px;
}

.location strong {
    font-weight: bold;
}

.location {
    font-size: 0.9rem;
    line-height: 1.5;
}

.map-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #122620;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.map-button:hover {
    background-color: #2c5c4d;
}


/* SECTION 5 PESAN*/
#section5 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #122620;
    color: white;
    height: auto;
}

#section5 h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea, select {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em; /* Atau gunakan 16px jika lebih konsisten */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    font-size: 1em;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2c5c4d;
    color: white;
}

/* TAMPILAN PESAN*/
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.message-box, .attendance-box {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.message-box h3, .attendance-box h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    color: #122620;
}

.message-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #122620;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Tambahkan scroll vertikal */
}

.message-item h4 {
    margin: 0 0 5px 0;
    font-size: 1.4em;
}

.message-item p {
    margin: 0;
    font-size: 0.8em;
}

.attendance-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.attendance-item {
    width: 20%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #122620;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.attendance-number {
    font-size: 2em;
    font-weight: bold;
    display: block;
}

.attendance-label {
    font-size: 0.8em;
    margin-top: 5px;
}


/* CSS untuk mengganti font placeholder */
#name::placeholder,
#message::placeholder {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; /* Ganti dengan ukuran font yang diinginkan */
    color: #888; /* Ganti dengan warna yang diinginkan */
}
/* CSS untuk mengganti font input */
#name,
#message {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; /* Ganti dengan ukuran font yang diinginkan */
    color: #333; /* Ganti dengan warna yang diinginkan */
}

/* SECTION 6 HADIAH*/
#section6 {
    padding: 40px 20px;
    text-align: center;
    background-image: url('backgorund2.png');
    background-size: cover;
}

#section6 h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

#section6 p {
    font-size: 0.8em;
    line-height: 1.3;
}

.bank-details {
    padding: 10px;
    background-color: #122620;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
}

.bank-details img {
    background-color: white;
    border-radius: 5px;
}

.bank-logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

.bank-info {
    text-align: left;
}

#copyButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 0.8em;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#copyButton:hover {
    background-color: #2c5c4d;
    color: white;
}

#copyMessage {
    margin-top: 10px;
    font-size: 1em;
    color: green;
}


/* SECTION 7 TERIMAKASIH*/
#section7 {
    padding: 40px 20px;
    text-align: center;
    background-color: #122620;
    color: white;
    height: auto;
}

#section7 h2 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    margin-bottom: 20px;
    margin-top: 50px;
}

#section7 p {
    font-size: 0.9em;
    line-height: 1.3;
    margin: 10px 0;
}

#section7 h3 {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
}


/* SECTION 8 BRAND*/
#section8 {
    background-image: url('backgorund2.png');
    background-size: cover;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.brand-logo img {
    max-width: 350px;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.social-media {
    margin-bottom: 50px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
    background-color: rgba(140, 185, 216, 0.6);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.social-media img {
    width: 40px; /* Adjust size as needed */
    height: auto;
}


/* SEPERATOR 2 */

.separator2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0;
}

.separator2::before, 
.separator2::after {
    content: '';
    height: 1px; /* Membuat garis horizontal */
    flex-grow: 1;
    width: 100px;
    background-color: black;
}

/* .....................AUDIO CONTROL.................... */
.audio-controls {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 999; /* Ensure it's above other content */
    text-align: center;
    display: none; /* Initially hide the button */
}

.play-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* MEDIA QUERIES */

@media (max-width: 767px) {

    /* COVER */
    #cover {
        background-image: url('background1.png');
    }

    /* SECTION 1 */
    #section1 {
        height: auto;
    }

    /* SECTION 2 */
    #section2 {
        background-image: url('background1.png');
        background-size: cover;
    }

    .separator {
        flex-direction: row;
        width: 100%; /* Atur lebar sesuai kebutuhan */
    }

    .separator::before, 
    .separator::after {
        height: 1px; /* Membuat garis horizontal */
        flex-grow: 1;
        width: auto;
    }

    .separator span {
        margin: 0 10px; /* Jarak antara teks dan garis */
    }

    /* SECTION 4 */
    #section4 {
        height: auto;
        background-image: url('background1.png');
        background-size: cover;
    }

    .event-container {
        gap: 30px;
        flex-direction: column;
    }

    .event {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .event-type {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 2.7em;
        font-weight: bold;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 70px;
        background-color: #122620;
        flex-shrink: 0;
        border-radius: 100px 0 0 0; /* Hanya sudut kiri atas */
    }

    .type2 {
        border-radius: 0 100px 0 0; /* Hanya sudut kiri atas */
    }

    .event-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f9f9f9;
        flex-grow: 1;
    }

    .event-details img {
        width: 100%;
        height: 470px;
        object-fit: cover;
    }
    /*SECTION 5*/
    /* TAMPILAN PESAN*/
    .container {
        flex-direction: column;
    }
    /* SECTION 6 */
    #section6 {
        background-image: url('background1.png');
    }

    /* SECTION 8 */
    #section8 {
        background-image: url('background1.png');
    }

}
